# Database Configuration
DB_CONNECTION=pgsql
DB_HOST=monto_db
DB_PORT=5432
DB_DATABASE=monto
DB_USERNAME=monto
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root_secret

# Nginx Configuration
NGINX_PORT=8000

# App Configuration
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
